<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/category/">Категории</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dietcalc/">Диетологический калькулятор( <span id="protein"> {{ sumnvpdiet.sumprotein }} </span> бел. <span id="calories">{{ sumnvpdiet.sumcalories }}</span> ККалл )</a>
    </li>
    {% if isAdmin %}
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Администрирование
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/adminuser/">Пользователи</a></li>
                <li><a class="dropdown-item" href="/adminfood/">Продукты</a></li>
                <li><a class="dropdown-item" href="/admindiet/">Диеты</a></li>
            </ul>
        </div>
    {% endif %}
</ul>

{% if isAuth %}
    Добро пожаловать <a href="/profile/"><b>{{ userName }}</b></a> , <a href="/auth/logout">[Выход]</a>
{% else %}
    <form class="d-flex" action="/auth/login" method="post">
        <input class="form-control input-sm" type="text" name="login" placeholder="Логин">
        <input class="form-control input-sm" type="password" name="pass" placeholder="Пароль">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name="save" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Запомнить? &nbsp;</label>
        </div>
        <button class="btn btn-outline-success btn-sm" type="submit"> Вход </button>
        <a class="btn btn-outline-primary  btn-sm" href="/auth/registerform"> Зарегистрироваться </a>
    </form>

{% endif %}

